<h1>Oops! Something Went Wrong</h1>
<p>We apologize for the inconvenience, but it seems that a spell misfired and created an error in the character creation process.</p>
<p>Our wizards are working hard to fix this issue. In the meantime, you can:</p>
<ul>
    <li>Return to the <a href="/">home page</a></li>
    <li>Try casting the refresh spell on your browser</li>
    <li>Wait patiently for the magical bug-fixing ritual to complete</li>
</ul>
<img src="https://placekitten.com/96/140" alt="Sad Wizard Cat">