
3610 project requirements: 

GitHub: https://github.com/JivanTaj/DndCharacterCreator
(branch this) 

------------ Types of attack: ----------
-- XSS
	-- how to protect 
	--
	-- 
-- SQL injection
	-- how to protect 
	--
	-- 
-- CSRF	
	-- how to protect 
	--
	-- 
-- cookie attacks 
	-- how to protect 
	-- Restrict access to cookies to only http requests, so don't allow access via client side scripting.
	-- Set an expiration date to limit session hijacking.
-- Brute force
	-- how to protect 
	--
	-- 
-- URL traversal
	-- how to protect 
	-- Restrict access to character actions based on the identity of the user logged in, if it doesn't match with the character they are interacting with, then we deny access.
	-- Custom error page for 404 errors


------------ feature: 		Priority:	Done? ---------- 

Strong password req. 		1		yes
input valifation (regex etc.)	1		yes
password hashing		2		yes
URL traversal			1		yes
account permissions		1		yes
custom 404 error page   3		yes
secure cookies			1		yes