
3610 project requirements: 

GitHub: https://github.com/JivanTaj/DndCharacterCreator
(branch this) 

------------ Types of attack: ----------
-- XSS
	-- protected by password requirements and in built features 
	--
	-- 
-- SQL injection
	-- protected by password requirements and in built features 
	--
	-- 
-- CSRF	
	-- how to protect 
	--
	-- 
-- cookie attacks 
	-- how to protect 
	--
	-- 
-- Brute force
	--password lockouts 
	--
	-- 
-- URL traversal
	-- how to protect 
	-- Restrict access to character actions based on the identity of the user logged in, if it doesn't match with the character they are interacting with, then we deny access.
	-- 


------------ feature: 		Priority:	Done? ---------- 

Strong password req. 		1		yes
input valifation (regex etc.)	1		no
password hashing		2		yes	
URL traversal			1		yes
account permissions		1		yes  
password lockout 		2		yes 
cookie modification 		2 		no 
